---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout description="coding-blog">
  <img
    class="max-w-[75%]"
    src="https://www.westend61.de/images/0001373814pw/man-walking-on-a-road-in-remote-landscape-in-patagonia-argentina-UUF20284.jpg"
  />
  <h1>Hello World!</h1>
</BaseLayout>
